/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #000;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

/* ----------------------------------------------- */
/* HTML TAGS */
/* ----------------------------------------------- */

a:link,
a:visited {
    color: #000;
}

a:hover {
    color: #000;
}

h1,h2, h3 {
    margin: 0;
    color: #3728aa;
    text-transform: capitalize;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 300%;
    text-align: center;
    margin-bottom: 30px;
}

h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 150%;
}

p {
    font-size: 20px;
    color: #3728aa;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* ----------------------------------------------- */
/* Buttons */
/* ----------------------------------------------- */

.btn {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: auto;
    border: #555 solid 1px;
    transition: color 0.2s, background-color 0.2s;
    -webkit-transition: color 0.2s, background-color 0.2s;
    -moz-transition: color 0.2s, background-color 0.2s;
    -ms-transition: color 0.2s, background-color 0.2s;
    -o-transition: color 0.2s, background-color 0.2s;
}

.btn-full {
    background-color: #3728aa;
    color: #fff;
}

.btn-ghost {
    background-color: #ff7535;
}

.btn:link,
.btn:visited {
    color: #fff;
}

.btn:hover {
    background: #fff;
    color: #000;
}

/* ----------------------------------------------- */
/* Mobile Nav */
/* ----------------------------------------------- */

.mobile-nav-icon {
    font-size: 400%;
    float: right;
    display: none;
    top: 10px;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header {
    background-color: #ff7535;
}

nav {
    background-color: #ff7535;
    padding-top: 20px;
    padding-bottom: 10px;
}

#image-license {
    text-align: center;
    padding: 5px 0px;
}

.website-logo {
    width: 75px;
    height: auto;
    float: left;
}

.nav-links {
    list-style: none;
    float: right;
    margin: 15px 0px;
}

.nav-links li {
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
    color: #fff;
}

/* ----------------------------------------------- */
/* HERO */
/* ----------------------------------------------- */

.hero-text-box {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 0px;
}

.hero-text-box div:first-child {
    padding: 50px 0px;
}

.hero-text-box p {
    font-weight: bold;
    margin: 10px;
}

select[name="pet-name"] {
    padding: 20px;
    border: solid 1px transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    height: 60px;
}

.pet-options button {
    height: 60px;
    width: 250px;
    margin-left: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-img {
    height: 450px;
    width: auto;
    margin-left: 50px;
}

/* ----------------------------------------------- */
/* explain why */
/* ----------------------------------------------- */

.explain-section {
    background-color: #f4f4f4;
}

.why-adopt {
    text-align: center;
    margin-bottom: 30px;
}

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 15px;
}

.process-link {
    font-size: 150%;
    text-decoration: none;
    font-weight: bold;
}

.why-adopt a:link, .why-adopt a:visited, .why-adopt a:hover {
    color: #3728aa;
}

.process-link::after {
    content: '';
    display: block;
    height: 3px;
    width: 100px;
    border-bottom: 2px #3728aa solid;
    margin: 0 auto;
}

.pet-benefits i {
    font-size: 800%;
    color: #3728aa;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.pet-benefits h3 {
    color: #3728aa;
    text-align: center;
    margin-bottom: 10px;
    height: 70px;
}

.pet-benefits p {
    text-align: center;
}

/* ----------------------------------------------- */
/* pet pictures */
/* ----------------------------------------------- */

.pet-pictures {
    padding: 0;
}

.pet-images {
    float: left;
    width: 25%;
}

.pet-row {
    list-style: none;
}

.pet-images {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.pet-images img {
    width: 100%;
    opacity: 0.7;
    transition: transform 0.2s, opacity 0.2s;
    transform: scaleY(1.03);
    -webkit-transform: scaleY(1.03);
    -moz-transform: scaleY(1.03);
    -ms-transform: scaleY(1.03);
    -o-transform: scaleY(1.03);
}

.pet-images img:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    opacity: 1;
}

/* ----------------------------------------------- */
/* download */
/* ----------------------------------------------- */

.download-app-section {
    background-color: #ff7535;   
}

.download-app-section h2::after {
    background-color: #3728aa;
}

.steps-box {
    margin-top: 30px;
}


.steps-box:first-child {
    text-align: right;
    padding-right: 10%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 70px;
}

.phone-image {
    width: 300px;
    height: auto;
    position: relative;
    top: 2px;
}

.step-section {
    list-style: none;
    margin-bottom: 20px;
}

.steps {
    padding: 30px 20px;
    font-size: 150%;
}

.steps div {
	float: left;
	font-size: 200%;
	position: relative;
	height: 61px;
	width: 61px;
	text-align: center;
	border: solid 2px #3728aa;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	margin-right: 28px;
    top: 10px;
    color: #3728aa;
}

.steps p {
    font-size: 110%;
}

.app-download-section a:first-of-type img {
    width: 231px;
    margin-right: 20px;
}

.app-download-section a:last-of-type img {
    width: 200px;
}

/* ----------------------------------------------- */
/* download */
/* ----------------------------------------------- */

.review-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(./img/dog-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.review-section .row h2 {
    color: #fff;
}

.review-section .row h2::after {
    background-color: #ff7535;
}

.review-box {
    position: relative;
}

.reviews {
    margin-top: 50px;
}

.reviews .col blockquote::before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

.reviews .col blockquote {
    color: #fff;
    font-size: 120%;
    line-height: 180%;
    font-style: italic;
}

/* ----------------------------------------------- */
/* footer */
/* ----------------------------------------------- */

footer {
    background-color: #0c2e44;
    padding-top: 50px;
}

footer h1, footer a:link, footer a:visited, footer h3, footer p {
    color: #fff;
}

footer h1 {
    font-size: 200%;
    margin-bottom: 10px;
}

footer h3 {
    margin-bottom: 30px;
}

footer ul li {
    margin-bottom: 10px;
}

footer a:link, footer a:visited {
    text-decoration: none;
}

footer ul {
    list-style: none;
}

.footer-extra {
    border-top: #fff solid 1px;
    padding-top: 10px;
}

.social-links {
    float: right;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li a:link,.social-links li a:visited  {
    display: inline-block;
    font-size: 200%;
    color: #ff7535;
    text-align: center;
    border: 1px #ff7535 solid;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: color 0.2s, border 0.2s;
    -webkit-transition: color 0.2s, border 0.2s;
    -moz-transition: color 0.2s, border 0.2s;
    -ms-transition: color 0.2s, border 0.2s;
    -o-transition: color 0.2s, border 0.2s;
}

.social-links li a:hover  {
    color: #fff;
    border: 1px #fff solid;
}

.copyrights {
    position: relative;
    top: 5px;
}