/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .row {
        padding: 0 2%;
    }

    html,
    body {
        font-size: 14px;
    }

    .pet-images img {
        opacity: 1;
    }
    
    .hero-img {
        margin-left: 23px;
    }

    .hero-text-box div:first-child {
        padding-left: 30px;
    }

    .pet-options button {
        width: 200px;
    }

    .steps-box:last-child {
        padding-left: 0px;
    }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    .row {
        padding: 0 8%;
    }

    html,
    body {
        font-size: 12px;
    }

    section {
        padding: 50px 0px;
    }

    .hero-text-box div:first-child {
        padding-left: 0px;
    }

    .pet-options button {
        width: 120px;
        margin-left: 5px;
        position: relative;
        top: 8px;
        letter-spacing: 1px;
    }

    .hero-img {
        position: relative;
        top: -27px;
        transform: scale(0.7) translateX(-20%);
        -webkit-transform: scale(0.7) translateX(-20%);
        -moz-transform: scale(0.7) translateX(-20%);
        -ms-transform: scale(0.7) translateX(-20%);
        -o-transform: scale(0.7) translateX(-20%);
    }

    .pet-benefits .col {
        width: 100%;
        margin: 0;
    }

    .pet-images {
        width: 50%;
    }

    .steps {
        padding: 10px 0px;
    }

    .steps div {
        float: none;
        margin: 0 auto;
        font-size: 220%;
        top: 0px;
        height: 58px;
        width: 58px;
        margin-bottom: 5px;
    }

    .app-download-section a:first-of-type img {
        width: 150px;
        margin-right: 20px;
    }
    
    .app-download-section a:last-of-type img {
        width: 131px;
    }

    .copyrights {
        font-size: 100%;
    }

    .social-links li a:link, .social-links li a:visited {
        font-size: 236%;
    }
}

@media only screen and (min-width: 767px) {
    .nav-links {
        display: block !important;
    }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    h2 {
        font-size: 250%;
        margin-bottom: 10px;
    }

    .mobile-nav-icon {
        display: block;
        position: relative;
    }

    .nav-links {
        display: none;
        float: left;
    }

    .nav-links li {
        width: 100%;
        padding-bottom: 10px;
        padding-left: 30px;
    }

    .hero-text-box > div:last-child {
        display: none;
    }

    .hero-text-box div:first-child {
        width: 100%;
    }

    .hero-text-box h1, .hero-text-box p {
        text-align: center;
    }

    .pet-options {
        padding: 0 10%;
    }

    .steps-box {
        width: 100%;
    }

    .steps-box:first-child {
        text-align: center;
        padding-right: 0%;
    }

    .phone-image {
        width: 200px;
    }

    .steps-box:last-child {
        text-align: center;
        margin-top: 10px;
    }

    blockquote {
        margin-bottom: 40px;
    }

    .footer-nav {
        margin-bottom: 10px;
    }

    .footer-extra .col {
        width: 100%;
        display: block;
        float: none;
    }

    .copyrights, .social-links {
        padding: 10px 0px;
    }

    .copyrights {
        top: 0px;
    }

    .social-links {
        float: none;
    }
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    .pet-images {
        width: 100%;
    }
    
    .long-copy {
        line-height: 120%;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 15px;
    }
}

